#main{
  border: thin solid black;
  display: block;
  width: 900px;
  margin: 0 auto;
  height: auto;
  text-align: center;
}
p,h1{
  color: white;
}
#footer p{
  color: black;
}
#wreath{
  //border: thin solid black;
  margin-top: -260px;
  margin-left: 35px;
}
#title{
  border: thin solid black;
  color:black;
  font-family: 'Nanum Gothic Coding', monospace;
  margin-top: 10px;
  margin-left: 40px;
  font-size: 1.5em;
}
#nav{
  border: thin solid black;
  display: flex;
  justify-content: center;
  width: 900px;
}
#nav ul{
  //border: thin solid black;
  margin-left: -50px;
}
#nav li{
  //border: thin solid black;
  list-style: none;
  display: inline;
  font-family: 'Karma', cursive;
  padding: 20px;
  font-size: 1em;
}
li:hover{
  color: #6AA581;
  text-decoration: underline;
  }
#content{
  //border: thin solid black;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  width:auto;
  height: auto;
}
#slides{
  border: thin solid black;
  margin-top: 60px;
}
#designs{
  border: thin solid black;
  margin-top: 60px;
  border-radius: 2px;
  width: 400px;
  margin-left: 20px;
  background-color: #6AA581;
}
#blog{
  border: thin solid black;
  padding-top: 60px;
}
#footer{
  border: thin solid black;
  padding-top: 60px;
}
